body {
    font-family: 'Open sans', sans-serif;
}

a {
    text-decoration: none;
    color: #222222;
}

a:hover {
    text-decoration: underline;
}

header {
    background-image: linear-gradient(to right, #a25b5b, #692e4c);
    padding: 1.5em 2em;
}

header h1 {
    margin-top: 0;
    font-size: 1.6em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-bottom: 40px;
}

.header-top > a {
    color: inherit;
}

nav {
    display: flex;
    justify-content: center;
}

nav > a {
    padding: 0 20px;
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
}